:root {
  --main-red-light: #e84545;
  --background-red: #dd3434;
  --main-white: #fff;
  --main-black: #000;
  --main-text-color: #6c7279;
  --background-color: #31344e;
  --border-color: #31344e;
  --social-border-color: #e8ecee;
  --social-icon-color: #c6cacc;
  --reviews-background-color: #53354a;
  --download-text-color: #2d3033;
  --footer-background-color: #3a3e64;
  --copyright-background-color: #313454;
  --copyright-text-color: #808080;
  --default-margin: 1rem;
  --default-half-margin: 1.5rem;
  --middle-margin: 2rem;
  --big-margin: 7rem;
}